@import '../../Styles/styles.scss';

.art-container {
  display: flex;
  flex-direction: column;

  @include xsm {
    padding-left: $base;
    padding-right: $base;
  }

  @include md {
    padding-left: $base * 3;
    padding-right: $base * 3;
  }
}