@use '../../Styles/breakpoints.scss' as *;
@use '../../Styles/vars.scss' as *;

.page {
  background-color: $darkGrey;
  color: $textColor;
  font-family: $fonts;
  width: 100%;
  min-height: 100vh;

  .layout {
    margin: auto;
    animation: fadein 1s;

    @keyframes fadein {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @include xsm {
      padding: $contentInsetMobile;
    }

    @include md {
      padding: $contentInsetDesktop;
    }

    @include xl {
      max-width: 1320px;
    }
  }
}