// Colors
$darkGrey: #101010;
$highlightBackground: #0026de;
$highlightTextColor: #ffd800;

// Text Colors
$textColor: white;
$textColorDark: #cecece;

// Fonts
$fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Units
$base: 8px;
