@import '../../Styles/styles.scss';

.onereg-detail {
  @include main-page;

  .onereg-detail-contents {
    @include main-contents;
  }

  .content {
    display: flex;
    
    @include xsm {
      flex-direction: column;
      padding-left: $base;
      padding-right: $base;
    }

    @include md {
      padding-left: $base * 3;
      padding-right: $base * 3;
    }
  }

 
  .promo-video {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    
    @include xsm {
      height: 300px;
    }
    
    @include sm {
      height: 500px;
    }
  }

  .description {
    @include paragraph;
    width: 100%;
    margin-bottom: $base * 6;

    .headline {
      font-family: $fonts;
      font-weight: 600;
      font-size: 22px;
    }
  }
}
