@import '../../Styles/styles.scss';

header {
  @include xsm {
    margin-bottom: 16px;
  }
  
  @include sm {
    margin-bottom: 32px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;

    h1 {
      line-height: 36px;
    }
  }

  .social-links {
    display: flex;
    justify-content: space-between;

    .social-link {
      @include xsm {
        width: 36px;
        height: 36px;
        margin-left: 12px;
      }

      @include sm {
        width: 32px;
        height: 32px;
        margin-left: 16px;
      }

      svg {
        fill: transparent;
      }

    }
  }

  hr {
    border: 1px solid #4B4B4B;
    margin-top: 4px;
    margin-bottom: 0;
  }
}