@import '../../Styles/styles.scss';

header {
  @include xsm {
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
  @include sm {
    margin-top: 64px;
    margin-bottom: 32px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
  }

  .social-links {
    display: flex;
    justify-content: space-between;

    .social-link {
      @include xsm {
        width: 24px;
        height: 24px;
        margin-left: 16px;
      }

      @include sm {
        width: 28px;
        height: 28px;
        margin-left: 24px;
      }

      .svg-path {
        fill: #FFFFFF;
      }

      &:hover {
        .svg-path.twitter-icon {
          fill: #1DA1F2;
        }

        .svg-path.linkedin-icon {
          fill: #0077B5;
        }
      }

    }
  }

  hr {
    border: 1px solid #232323;
    margin-top: 4px;
    margin-bottom: 0;
  }
}