@use '../../styles/breakpoints.scss' as *;
@use '../../styles/vars.scss' as *;

.content {
  display: flex;

  @include xsm {
    flex-direction: column;
    padding-left: $base;
    padding-right: $base;
  }

  @include md {
    padding-left: $base * 3;
    padding-right: $base * 3;
  }
}